<div class="container-fluid" >

  <form name="form" class="form-validate" novalidate ng-controller="InsumoController as insumoController" >

    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Insumo</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Código</label>
                <input type="text"  ng-required="true" ng-maxlength="50" maxlength="50" class="form-control border-input" label="Código" name="insumo.codigo" ng-model="insumoController.insumo.codigo">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Nome</label>
                <input type="text"  ng-required="true" ng-maxlength="150" maxlength="150" class="form-control border-input" label="Nome" name="insumo.nome" ng-model="insumoController.insumo.nome">
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <plc-static-combo ng-model="insumoController.insumo.categoriaInsumo" name="insumo.categoriaInsumo"  ng-enum="categoriaInsumo" label="Categoria"
                                  no-selected-value="[Selecione...]" ng-enum-value="categoriaInsumo" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <plc-static-combo ng-model="insumoController.insumo.unidadeMedida" name="insumo.unidadeMedida"  ng-enum="unidadeMedida" label="Unidade Medida"
                                  no-selected-value="[Selecione...]" ng-enum-value="unidadeMedida" />
               </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Validade</label>
                <input type="number"  ng-required="true" class="form-control border-input" label="Validade" name="insumo.validadeInsumo" ng-model="insumoController.insumo.validadeInsumo">
              </div>
            </div>

          </div>


          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="insumoController.new();" >Novo</button>
              <button type="submit" class="btn btn-default" ng-click="insumoController.save();" >Salvar</button>
              <button type="button" class="btn btn-default" ng-click="insumoController.list();" >Listar</button>
              <button type="button" class="btn btn-default" ng-click="insumoController.remove();" ng-if="insumoController.insumo.id" >Excluir</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
