<div class="container-fluid" >

  <form name="form" class="form-validate" novalidate ng-controller="UsuarioController as usuarioController" >

    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Consulta de Usuários</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <label>Login</label>
                <input type="text" class="form-control border-input" ng-model="usuarioController.usuarioArg.login">
              </div>
            </div>

          </div>



          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <plc-grid sref="usuario.man" />
              </div>
            </div>


          </div>



          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="usuarioController.find();" >Pesquisar</button>
              <button type="button" class="btn btn-default" ng-click="usuarioController.clear();" >Limpar</button>
              <button type="button" class="btn btn-default" ng-click="usuarioController.new();" >Novo</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
