<div class="container-fluid" >

  <form name="form" class="form-validate" novalidate ng-controller="ComposicaoProdutoController as composicaoProdutoController" >

    <div class="col-lg-12 col-md-12" ng-init="composicaoProdutoController.find()">
      <div class="card">
        <div class="header">
          <h4 class="title">Consulta de Composição de Produto</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <plc-aggregate-modal label="Produto" ng-entity="produto" can-modal="true"
                                     can-autocomplete="true" name="composicaoProdutoArg.produto"
                                     ng-model="composicaoProdutoController.composicaoProdutoArg.produto" ng-model-lookup="nome" autocomplete-url="/produto/find"
                                     template="app/produto/produto-modal.html"  />
              </div>
            </div>

          </div>



          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <plc-grid sref="composicaoProduto.man" />
              </div>
            </div>


          </div>



          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="composicaoProdutoController.find();" >Pesquisar</button>
              <button type="button" class="btn btn-default" ng-click="composicaoProdutoController.clear();" >Limpar</button>
              <button type="button" class="btn btn-default" ng-click="composicaoProdutoController.new();" >Novo</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
