<div class="container-fluid">


  <div ng-repeat="itemComposicaoProduto in composicaoProdutoController.composicaoProduto.itemComposicaoProduto" >

    <div class="row">

      <div class="col-md-4">
        <div class="form-group">
          <plc-aggregate-modal label="Insumo" ng-entity="insumo" ng-required="true" can-modal="true" can-autocomplete="true"
                               ng-model="itemComposicaoProduto.insumo" ng-model-lookup="nome" autocomplete-url="/insumo/findAll"
                               template="app/insumo/insumo-modal.html"  />
        </div>
        <input type="hidden" ng-model="itemComposicaoProduto.id" >
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Quantidade Insumo</label>
          <input type="number"  ng-required="true" ng-maxlength="15" maxlength="15" class="form-control border-input" label="Quantidade Insumo" name="itemComposicaoProduto.quantidadeInsumo" ng-model="itemComposicaoProduto.quantidadeInsumo">
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>Observação</label>
          <textarea maxlength="80" ng-maxlength="80" class="form-control border-input" ng-model="itemComposicaoProduto.observacao" ></textarea>
        </div>
      </div>

    </div>


  </div>

  <div class="row">
    <button type="button" class="btn btn-default" ng-click="composicaoProdutoController.addItemDetail('composicaoProdutoController.composicaoProduto.itemComposicaoProduto');" >{{'label.adicionar' | translate}}</button>
  </div>


</div>
