<div class="container-fluid" >

  <form name="entradaInsumo" class="form-validate" novalidate ng-controller="EntradaInsumoController as entradaInsumoController" >

    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Entrada de Insumos</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <plc-aggregate-modal label="Insumo" ng-entity="insumo" ng-required="true" can-modal="true"
                                     can-autocomplete="true" name="entradaInsumo.insumo"
                                     ng-model="entradaInsumoController.entradaInsumo.insumo" ng-model-lookup="nome" autocomplete-url="/insumo/findAll"
                                     template="app/insumo/insumo-modal.html"  />
              </div>
            </div>

            <div class="col-md-6">
              <plc-date-picker  ng-required="true" name="entradaInsumo.data" ng-model="entradaInsumoController.entradaInsumo.data" label="Data"
                                invalid-date-alert placeholder="__/__/____"  />
            </div>


          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Quantidade</label>

                <div class="input-group">
                  <input type="text"  ng-required="true" ui-number-mask="3" ui-hide-group-sep ng-maxlength="15" maxlength="15" class="form-control border-input" label="Quantidade" name="entradaInsumo.quantidade" ng-model="entradaInsumoController.entradaInsumo.quantidade">
                  <span class="input-group-addon" id="basic-addon">{{entradaInsumoController.entradaInsumo.insumo.unidadeMedidaInsumo}}</span>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Valor Compra Total</label>
                <input type="text"  ng-required="true" ui-money-mask  ng-maxlength="15" maxlength="15" class="form-control border-input" label="Valor Compra Total" name="entradaInsumo.valorCompraTotal" ng-model="entradaInsumoController.entradaInsumo.valorCompraTotal">
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="entradaInsumoController.entradaEstoqueInsumo();" >Salvar</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>

</div>
