<div class="container-fluid" >

  <form name="form" class="form-validate" novalidate ng-controller="ProdutoController as produtoController" >

    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Consulta de Produtos</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-3">
              <div class="form-group">
                <label>Nome</label>
                <input type="text" class="form-control border-input" ng-model="produtoController.produtoArg.nome">
              </div>
            </div>

          </div>



          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <plc-grid sref="produto.man" />
              </div>
            </div>


          </div>



          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="produtoController.find();" >Pesquisar</button>
              <button type="button" class="btn btn-default" ng-click="produtoController.clear();" >Limpar</button>
              <button type="button" class="btn btn-default" ng-click="closeThisDialog('button')">Fechar</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
