<div class="container-fluid" >

  <form name="form" autocomplete="off" class="form-validate" novalidate ng-controller="EstoqueInsumoController as estoqueInsumoController" >

    <div class="col-lg-12 col-md-12" ng-init="estoqueInsumoController.find()">
      <div class="card">
        <div class="header">
          <h4 class="title">Estoque de Insumos</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <plc-aggregate-modal label="Insumo" ng-entity="insumo" ng-required="true" can-modal="true"
                                     can-autocomplete="true" name="estoqueInsumoArg.insumo"
                                     ng-model="estoqueInsumoController.estoqueInsumoArg.insumo" ng-model-lookup="nome" autocomplete-url="/insumo/find"
                                     template="app/insumo/insumo-modal.html"  />
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <plc-grid />
              </div>
            </div>


          </div>



          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="estoqueInsumoController.find();" >Pesquisar</button>
              <button type="button" class="btn btn-default" ng-click="estoqueInsumoController.clear();" >Limpar</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
