<div class="container-fluid" >

  <form name="ordemProducaoForm" autocomplete="off" class="form-validate" novalidate ng-controller="OrdemProducaoController as ordemProducaoController" >

    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Nova Ordem Produção</h4>
        </div>
        <div class="content">

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label>Número</label>
                <input type="text" ng-required="true" ng-disabled="true"  class="form-control border-input" label="Número" name="ordemProducao.numero" ng-model="ordemProducaoController.ordemProducao.numero">
              </div>
            </div>

            <div class="col-md-6">
              <plc-date-picker ng-disabled="ordemProducaoController.ordemProducao.id"  ng-required="true" name="ordemProducao.dataLimite" ng-model="ordemProducaoController.ordemProducao.dataLimite" label="Data Limite"
                                invalid-date-alert placeholder="__/__/____"  />
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">

                <plc-aggregate-modal  label="Produto" ng-disabled="ordemProducaoController.ordemProducao.id" ng-entity="composicaoProduto" ng-required="true" can-modal="true" can-autocomplete="true" name="ordemProducao.composicaoProduto"
                                     ng-model="ordemProducaoController.ordemProducao.composicaoProduto" ng-model-lookup="produto.nome" autocomplete-url="/composicao-produto/find"
                                     template="app/composicaoProduto/composicao-produto-modal.html"  />

              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>Quantidade</label>
                <div class="input-group">

                  <input type="text"  ng-disabled="ordemProducaoController.ordemProducao.id" ng-required="true" ng-maxlength="10" maxlength="10" ui-number-mask="3" ui-hide-group-sep class="form-control border-input" label="Quantidade" name="ordemProducao.quantidade" ng-model="ordemProducaoController.ordemProducao.quantidade">
                  <span class="input-group-addon" id="basic-addon2">{{ordemProducaoController.ordemProducao.composicaoProduto.produto.unidadeMedidaProduto}}</span>

                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <plc-static-combo ng-required="true"  ng-disabled="ordemProducaoController.ordemProducao.id" ng-model="ordemProducaoController.ordemProducao.motivoOrdemProducao" name="ordemProducao.motivoOrdemProducao"  ng-enum="motivoOrdemProducao" label="Motivo"
                                  no-selected-value="[Selecione...]" ng-enum-value="motivoOrdemProducao" />
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">

                <plc-static-combo ng-disabled="true" ng-show="ordemProducaoController.ordemProducao.id" ng-model="ordemProducaoController.ordemProducao.statusOrdemProducao" name="ordemProducao.statusOrdemProducao"  ng-enum="statusOrdemProducao" label="Status"
                                  no-selected-value="[Selecione...]" ng-enum-value="statusOrdemProducao" />

              </div>
            </div>

          </div>

          <div class="row" ng-if="ordemProducaoController.ordemProducao.statusOrdemProducao == 'INICIADA'">

            <div class="col-md-6">
              <div class="form-group">
                <label>Quantidade Produzida</label>
                <div class="input-group">
                  <input type="text" ng-required="true" ng-maxlength="10" maxlength="10" ui-number-mask="3" ng-change="ordemProducaoController.calcCustoTotal()" ui-hide-group-sep class="form-control border-input" label="Quantidade Produzida" name="ordemProducao.quantidadeProduzida" ng-model="ordemProducaoController.ordemProducao.quantidadeProduzida">
                  <span class="input-group-addon" id="basic-addon3">{{ordemProducaoController.ordemProducao.composicaoProduto.produto.unidadeMedidaProduto}}</span>
                </div>
              </div>
            </div>


          </div>

          <div class="row" ng-if="ordemProducaoController.ordemProducao.statusOrdemProducao == 'INICIADA'">

            <div class="col-md-6">
              <div class="form-group">
                <label>Custo Unitário</label>
                <input type="text" ng-disabled="true"  ng-required="true" ui-money-mask  ng-maxlength="15" maxlength="15" class="form-control border-input" label="Custo Unitário" name="ordemProducao.custoUnitario" ng-model="ordemProducaoController.ordemProducao.custoUnitario">
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label>Custo Total</label>
                <input type="text" ng-disabled="true"  ng-required="true" ui-money-mask  ng-maxlength="15" maxlength="15" class="form-control border-input" label="Custo Total" name="ordemProducao.custoTotal" ng-model="ordemProducaoController.ordemProducao.custoTotal">
              </div>
            </div>



          </div>


          <div class="row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-default" ng-click="ordemProducaoController.new();" >Novo</button>
              <button type="button" class="btn btn-default" ng-click="ordemProducaoController.list();" >Listar</button>
              <button type="submit" ng-show="!ordemProducaoController.ordemProducao.id" class="btn btn-default" ng-click="ordemProducaoController.gerarOrdemProducao();" >Gerar</button>
              <button type="submit" ng-show="ordemProducaoController.ordemProducao.id" class="btn btn-default" ng-click="ordemProducaoController.cancelarOrdemProducao();" >Cancelar</button>
              <button type="submit" ng-show="ordemProducaoController.ordemProducao.id && (ordemProducaoController.ordemProducao.statusOrdemProducao == 'NA_FILA' || ordemProducaoController.ordemProducao.statusOrdemProducao == 'FALTA_INSUMO')" class="btn btn-default" ng-click="ordemProducaoController.iniciarOrdemProducao();" >Iniciar</button>
              <button type="submit" ng-show="ordemProducaoController.ordemProducao.id && (ordemProducaoController.ordemProducao.statusOrdemProducao == 'INICIADA')" class="btn btn-default" ng-click="ordemProducaoController.finalizarOrdemProducao();" >Finalizar</button>
            </div>
          </div>


        </div>
      </div>
    </div>
  </form>

</div>
