/**
 *  Variaveis Globais SASS
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 * Nao remover esse cometario. A injecao de dependencias bower sera relizada nesse ponto pelo GULP
 */
// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #2d3e63; vertical-align: middle; }
.box > .icon:hover > .image { background: #738bc0; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #2d3e63; }
.box .space { height: 30px; }

.home-doctors {
  text-align: center;
  padding: 40px 0 50px;
  background: #f0f5f6;
}

.home-doctors h2 {
    font-weight: normal;
}

.home-doctors .common-doctor {
  background-color: #fff;
}

.btn-info {
    background-color: #2d3e63;
    border-color: #738bc0;
    color: #fff;
}

.btn-info:hover {
    background-color: #738bc0;
    border-color: #269abc;
    color: #fff;
}



.form-control.ng-dirty.ng-invalid{
  border-color: #f05050;
}

.form-control.ng-dirty.ng-valid,
.form-control.ng-dirty.ng-valid:focus {
  border-color: #27c24c;
}
.form-control .c-checkbox input.ng-dirty.ng-invalid + span,
.form-control .c-radio input.ng-dirty.ng-invalid + span {
  border-color: #f05050;
}
.form-control .ui-select-container.ng-dirty.ng-invalid .btn {
  border-color: #f05050;
}
.form-control .input-group .ui-select-container.ng-dirty.ng-invalid .btn {
  margin-left: -1px;
}
.form-control .chosen-select.ng-dirty.ng-invalid + .chosen-container > .chosen-choices {
  border-color: #f05050;
}
.form-control .chosen-select.ng-dirty.ng-valid + .chosen-container > .chosen-choices,
.form-control .chosen-select.ng-dirty.ng-valid:focus + .chosen-container > .chosen-choices {
  border-color: #27c24c;
}
.form-control.ng-dirty.ng-invalid + .bootstrap-tagsinput {
  border-color: #f05050;
}
.form-control.ng-dirty.ng-valid + .bootstrap-tagsinput,
.form-control.ng-dirty.ng-valid:focus + .bootstrap-tagsinput {
  border-color: #27c24c;
}




[uib-typeahead-popup].dropdown-menu {
  visibility: visible !important;
  opacity: 30 !important;

}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #f5f9e9 !important;
  color: #8d8d8d;
}

.ui-grid-render-container-body .ui-grid-viewport {
  height: 180px !important;
}

.ui-grid{
  height: 250px !important;
}

/**
 * Nao remover esse comentario, indicao ponto final da injecao dos componentes bower.
 */
// injector
// endinjector
